/* it defines the size of overall webpage   */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*  body is supposed to assign background color to the whole webpage */
body {
    background-color: #d9dcd6;
}

/* ----------------------------------------------------------------- */
/* CSS for header1 class  starts here. This class defines the padding,, backgroundcolor, text color and text style in this section*/
.header1 {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* this property defines the size of header1 class */
.header1 h1 {
    display: inline-block;
    font-size: 48px;
}
/* navigation bar styling starts here navigation bar is displayed in header and has three links */
.header1 section {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* this property defines the style of navigation bar */
.header1 section ul {
    list-style-type: none;
}

/* this property defines the display style of navigation bar and will display list inline*/
header section ul li {
    display: inline-block;
    margin-left: 25px;
}

/* this property defines the style of anchor tag it will remove the underline from text  */
a {
    color: #ffffff;
    text-decoration: none;
}
/* header1 class css code Ends here*/
/* -------------------------------------------------------------------------------- */



/* class hero defines the style of this section */
p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}



/* this class inside content class and it defines the size,color,font style and margin-bottom of .search-engine-optimization  class */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* this class inside content class and it defines the size,color,font style and margin-bottom of .online-reputation-management class */
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* this class inside content class and it defines the size,color,font style and margin-bottom of .social-media-marketing  class */
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}


 /* this css property defines the maximim size of image inside .search-engine-optimization  */
.search-engine-optimization img {
    max-height: 200px;
}

 /* this css property defines the maximim size of image inside .online-reputation-management  */
.online-reputation-management img {
    max-height: 200px;
}

 /* this css property defines the maximim size of image inside .social-media-marketing */
.social-media-marketing img {
    max-height: 200px;
}

 /* this css property defines the size of h2 inside particular class  */
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*----------------------code for left section ends here -------------------------  */



/* this code defines the right section lead generation style */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* defines the bottom margin and color of benefits-lead class */
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

/* defines the bottom margin and color of benefits-brand class */
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

/* defines the bottom margin and color of benefits-cost class */
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* defines the bottom margin and text alignment of benefits-lead class */
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* defines the bottom margin and text alignment of benefits-brand class */
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* defines the bottom margin and text alignment of benefits-cost class */
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* defines the margin,width, display style of benefits-lead class */
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* defines the margin,width, display style of benefits-brand class */
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* defines the margin,width, display style of benefits-cost class */
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* defines the styling of footer class */
.footer-style {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* defines the font size of footer class */
.footer-style h2 {
    font-size: 20px;
}
